<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aidex.shadd.shipping.message.mapper.TShippingMessageMapper">

    <sql id="tShippingMessageColumns">
        a.district as "district",

        a.district_code as "districtCode",

        a.latitude as "latitude",

        a.longitude as "longitude",

        a.address as "address",

        a.userId as "userid",

        a.phone as "phone",

        a.consignee as "consignee",

        a.remark as "remark",

        a.id as "id",

        a.create_by as "createBy",

        a.create_dept as "createDept",

        a.create_time as "createTime",

        a.update_by as "updateBy",

        a.update_time as "updateTime",

        a.update_ip as "updateIp",

        a.version as "version",

        a.del_flag as "delFlag",

        u.name as "userName",

        a.address_id as "addressId"
    </sql>

    <sql id="tShippingMessageJoins">
        inner join sys_user u on u.id = a.userId
    </sql>

    <select id="get" resultType="TShippingMessage">
        SELECT
            <include refid="tShippingMessageColumns"/>
        FROM t_shipping_message a
        <include refid="tShippingMessageJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="TShippingMessage">
        SELECT
            <include refid="tShippingMessageColumns"/>
        FROM t_shipping_message a
        <include refid="tShippingMessageJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="district != null and district != ''">
                and a.district like concat('%', #{district}, '%')
            </if>
            <if test="address != null and address != ''">
                and a.address like concat('%', #{address}, '%')
            </if>
            <if test="userid != null and userid != ''">
                and a.userId like concat('%', #{userid}, '%')
            </if>
            <if test="phone != null and phone != ''">
                AND a.phone = #{phone}
            </if>
            <if test="consignee != null and consignee != ''">
                and a.consignee like concat('%', #{consignee}, '%')
            </if>
            <if test="userName != null and userName != ''">
                and u.consignee like concat('%', #{userName}, '%')
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderByColumn != null and page.orderByColumn != ''">
                ORDER BY ${page.orderByColumn}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="findListWithUnique" resultType="TShippingMessage">
        SELECT
            a.id
        FROM t_shipping_message a
        <include refid="tShippingMessageJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="notEqualId != null and notEqualId != ''">
                AND id != #{notEqualId}
            </if>
        </where>
    </select>


    <insert id="insert">
        INSERT INTO t_shipping_message(
            district,

            district_code,

            latitude,

            longitude,

            address,

            userId,

            phone,

            consignee,

            remark,

            id,

            create_by,

            create_dept,

            create_time,

            update_by,

            update_time,

            update_ip,

            version,

            del_flag,

            address_id
        ) VALUES (
            #{district},

            #{districtCode},

            #{latitude},

            #{longitude},

            #{address},

            #{userid},

            #{phone},

            #{consignee},

            #{remark},

            #{id},

            #{createBy},

            #{createDept},

            #{createTime},

            #{updateBy},

            #{updateTime},

            #{updateIp},

            #{version},

            #{delFlag},

            #{addressId}
        )
    </insert>

    <update id="update">
        UPDATE t_shipping_message SET
            district = #{district},
            district_code = #{districtCode},
            address_id = #{addressId},
            latitude = #{latitude},
            longitude = #{longitude},
            address = #{address},
            userId = #{userid},
            phone = #{phone},
            consignee = #{consignee},
            remark = #{remark},
            update_by = #{updateBy},
            update_time = #{updateTime},
            update_ip = #{updateIp},
            version = version + 1
        WHERE id = #{id} and version = #{version}
    </update>

    <update id="updateStatus">
        UPDATE t_shipping_message SET
            status = #{status},
            version = version + 1
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE t_shipping_message SET
            del_flag = #{DEL_FLAG_DELETE}
        WHERE id = #{id}
    </update>

    <delete id="deleteTShippingMessageByIds">
        UPDATE t_shipping_message SET
            del_flag = '1'
        WHERE id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>