<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aidex.shadd.tInvitationcode.mapper.TInvitationCodeMapper">

    <sql id="tInvitationCodeColumns">
        a.code as "code",

        a.userId as "userid",

        a.remark as "remark",

        a.id as "id",

        a.create_by as "createBy",

        a.create_dept as "createDept",

        a.create_time as "createTime",

        a.update_by as "updateBy",

        a.update_time as "updateTime",

        a.update_ip as "updateIp",

        a.version as "version",

        a.del_flag as "delFlag",

        u.name as "userName"

    </sql>

    <sql id="tInvitationCodeJoins">
        LEFT JOIN sys_user u ON u.id = a.userId
    </sql>

    <select id="get" resultType="TInvitationCode">
        SELECT
            <include refid="tInvitationCodeColumns"/>
        FROM t_invitation_code a
        <include refid="tInvitationCodeJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="TInvitationCode">
        SELECT
            <include refid="tInvitationCodeColumns"/>
        FROM t_invitation_code a
        <include refid="tInvitationCodeJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="code != null and code != ''">
                AND a.code = #{code}
            </if>
            <if test="userid != null and userid != ''">
                AND a.userId = #{userid}
            </if>
            <if test="userName != null and userName != ''">
                AND u.name like concat('%', #{userName}, '%')
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderByColumn != null and page.orderByColumn != ''">
                ORDER BY ${page.orderByColumn}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="findListWithUnique" resultType="TInvitationCode">
        SELECT
            a.id
        FROM t_invitation_code a
        <include refid="tInvitationCodeJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="notEqualId != null and notEqualId != ''">
                AND a.id != #{notEqualId}
            </if>
            <if test="code != null and code != ''">
                and a.code = #{code}
            </if>
        </where>
    </select>


    <insert id="insert">
        INSERT INTO t_invitation_code(
            code,

            userId,

            remark,

            id,

            create_by,

            create_dept,

            create_time,

            update_by,

            update_time,

            update_ip,

            version,

            del_flag

        ) VALUES (
            #{code},

            #{userid},

            #{remark},

            #{id},

            #{createBy},

            #{createDept},

            #{createTime},

            #{updateBy},

            #{updateTime},

            #{updateIp},

            #{version},

            #{delFlag}

        )
    </insert>

    <update id="update">
        UPDATE t_invitation_code SET
            code = #{code},
            userId = #{userid},
            remark = #{remark},
            update_by = #{updateBy},
            update_time = #{updateTime},
            update_ip = #{updateIp},
            version = version + 1
        WHERE id = #{id} and version = #{version}
    </update>

    <update id="updateStatus">
        UPDATE t_invitation_code SET
            status = #{status},
            version = version + 1
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE t_invitation_code SET
            del_flag = #{DEL_FLAG_DELETE}
        WHERE id = #{id}
    </update>

    <delete id="deleteTInvitationCodeByIds">
        UPDATE t_invitation_code SET
            del_flag = '1'
        WHERE id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>