<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aidex.shadd.factory.mapper.TFactoryMapper">

    <sql id="tFactoryColumns">
        a.district as "district",

        a.districtCode as "districtCode",

        a.image as "image",

        a.latitude as "latitude",

        a.linkman as "linkman",

        a.longitude as "longitude",

        a.mobile as "mobile",

        a.name as "name",

        a.remark as "remark",

        a.id as "id",

        a.id as "tid",

        a.create_by as "createBy",

        a.create_dept as "createDept",

        a.create_time as "createTime",

        a.update_by as "updateBy",

        a.update_time as "updateTime",

        a.update_ip as "updateIp",

        a.version as "version",

        a.del_flag as "delFlag",

        a.address as "address"
    </sql>

    <sql id="tFactoryJoins">
    </sql>

    <select id="get" resultType="TFactory">
        SELECT
            <include refid="tFactoryColumns"/>
        FROM t_factory a
        <include refid="tFactoryJoins"/>
        WHERE a.id = #{id}
    </select>

    <resultMap id="factoryModel" type="com.aidex.shadd.factory.domain.TFactory">
        <!-- 嵌套查询role，column配置的是嵌套查询SQL的参数，当有多个时用逗号隔开, fetchType="lazy"实现延迟加载 -->
        <collection property="purchaseList" javaType="List"
                    ofType="com.aidex.shadd.purchase.domain.TPurchase" column="tid"
                    select="com.aidex.shadd.purchase.mapper.TPurchaseMapper.queryListByFactory">
        </collection>

    </resultMap>

    <select id="findList" resultType="TFactory">
        SELECT
            <include refid="tFactoryColumns"/>
        FROM t_factory a
        <include refid="tFactoryJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="district != null and district != ''">
                and a.district like concat('%', #{district}, '%')
            </if>
            <if test="linkman != null and linkman != ''">
                and a.linkman like concat('%', #{linkman}, '%')
            </if>
            <if test="mobile != null and mobile != ''">
                AND a.mobile = #{mobile}
            </if>
            <if test="name != null and name != ''">
                AND a.name = concat('%', #{name}, '%')
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderByColumn != null and page.orderByColumn != ''">
                ORDER BY ${page.orderByColumn}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="queryTFactoryById" resultMap="factoryModel">
        SELECT
        a.id as tid, a.*
        FROM t_factory a
        <include refid="tFactoryJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findListByName" resultType="TFactory">
        SELECT
        a.id as "id", a.name as "name"
        FROM t_factory a
        WHERE a.del_flag = '0'
        <if test="name != null and name != ''">
            AND a.name = concat('%', #{name}, '%')
        </if>
    </select>


    <select id="findListWithUnique" resultType="TFactory">
        SELECT
            a.id
        FROM t_factory a
        <include refid="tFactoryJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="notEqualId != null and notEqualId != ''">
                AND id != #{notEqualId}
            </if>
        </where>
    </select>


    <insert id="insert">
        INSERT INTO t_factory(
            district,

            image,

            latitude,

            linkman,

            longitude,

            mobile,

            name,

            remark,

            id,

            create_by,

            create_dept,

            create_time,

            update_by,

            update_time,

            update_ip,

            version,

            del_flag,

            districtCode,

            address


        ) VALUES (
            #{district},

            #{image},

            #{latitude},

            #{linkman},

            #{longitude},

            #{mobile},

            #{name},

            #{remark},

            #{id},

            #{createBy},

            #{createDept},

            #{createTime},

            #{updateBy},

            #{updateTime},

            #{updateIp},

            #{version},

            #{delFlag},

            #{districtCode},

            #{address}

        )
    </insert>

    <update id="update">
        UPDATE t_factory SET
            district = #{district},
            image = #{image},
            latitude = #{latitude},
            linkman = #{linkman},
            longitude = #{longitude},
            mobile = #{mobile},
            name = #{name},
            remark = #{remark},
            update_by = #{updateBy},
            update_time = #{updateTime},
            update_ip = #{updateIp},
            districtCode = #{districtCode},
            address = #{address},
            version = version + 1
        WHERE id = #{id} and version = #{version}
    </update>

    <update id="updateStatus">
        UPDATE t_factory SET
            status = #{status},
            version = version + 1
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE t_factory SET
            del_flag = #{DEL_FLAG_DELETE}
        WHERE id = #{id}
    </update>

    <delete id="deleteTFactoryByIds">
        UPDATE t_factory SET
            del_flag = '1'
        WHERE id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>