<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aidex.shadd.order.mapper.TOrderMapper">

    <sql id="tOrderColumns">
        a.user_id as "userId",

        a.shippingAddress as "shippingaddress",

        a.dispatchingDate as "dispatchingdate",

        a.total as "total",

        a.billStatus as "billStatus",

        a.code as "code",

        a.remark as "remark",

        a.id as "id",

        a.create_by as "createBy",

        a.create_dept as "createDept",

        a.create_time as "createTime",

        a.update_by as "updateBy",

        a.update_time as "updateTime",

        a.update_ip as "updateIp",

        a.version as "version",

        a.del_flag as "delFlag",

        u.name as "userName",

        s.address as "shippingaddressName"

    </sql>

    <sql id="tOrderJoins">
        LEFT JOIN SYS_USER u on u.id = a.user_id
        LEFT JOIN t_shipping_address s on s.id = a.shippingaddress
    </sql>

    <select id="get" resultType="TOrder">
        SELECT
            <include refid="tOrderColumns"/>
        FROM t_order a
        <include refid="tOrderJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="TOrder">
        SELECT
            <include refid="tOrderColumns"/>
        FROM t_order a
        <include refid="tOrderJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="userId != null and userId != ''">
                AND a.user_id = #{userId}
            </if>
            <if test="shippingaddress != null and shippingaddress != ''">
                AND a.shippingAddress = #{shippingaddress}
            </if>
            <if test="beginDispatchingdate != null">
                AND date_format(a.dispatchingDate,'%y%m%d') = date_format(#{beginDispatchingdate},'%y%m%d')
            </if>
            <if test="createTime != null">
                AND date_format(a.create_time,'%y%m%d') = date_format(#{createTime},'%y%m%d')
            </if>
            <if test="total != null and total != ''">
                AND a.total = #{total}
            </if>
            <if test="code != null and code != ''">
                and a.code like concat('%', #{code}, '%')
            </if>
            <if test="userName != null and userName != ''">
                and u.name like concat('%', #{userName}, '%')
            </if>
            <if test="shippingaddressName != null and shippingaddressName != ''">
                and s.address like concat('%', #{shippingaddressName}, '%')
            </if>
            <if test="billStatus != null and billStatus != ''">
                and a.billStatus = #{billStatus}
            </if>
            ORDER BY a.create_time desc
        </where>
        <choose>
            <when test="page !=null and page.orderByColumn != null and page.orderByColumn != ''">
                ORDER BY ${page.orderByColumn}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="findListWithUnique" resultType="TOrder">
        SELECT
            a.id
        FROM t_order a
        <include refid="tOrderJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="notEqualId != null and notEqualId != ''">
                AND id != #{notEqualId}
            </if>
        </where>
    </select>


    <insert id="insert">
        INSERT INTO t_order(
            user_id,

            shippingAddress,

            dispatchingDate,

            total,

            billStatus,

            code,

            remark,

            id,

            create_by,

            create_dept,

            create_time,

            update_by,

            update_time,

            update_ip,

            version,

            del_flag

        ) VALUES (
            #{userId},

            #{shippingaddress},

            #{dispatchingdate},

            #{total},

            #{billStatus},

            #{code},

            #{remark},

            #{id},

            #{createBy},

            #{createDept},

            #{createTime},

            #{updateBy},

            #{updateTime},

            #{updateIp},

            #{version},

            #{delFlag}

        )
    </insert>

    <update id="update">
        UPDATE t_order SET
            user_id = #{userId},
            shippingAddress = #{shippingaddress},
            dispatchingDate = #{dispatchingdate},
            total = #{total},
            billStatus = #{billStatus},
            code = #{code},
            remark = #{remark},
            update_by = #{updateBy},
            update_time = #{updateTime},
            update_ip = #{updateIp},
            version = version + 1
        WHERE id = #{id} and version = #{version}
    </update>

    <update id="updateStatus">
        UPDATE t_order SET
            status = #{status},
            version = version + 1
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE t_order SET
            del_flag = #{DEL_FLAG_DELETE}
        WHERE id = #{id}
    </update>

    <delete id="deleteTOrderByIds">
        UPDATE t_order SET
            del_flag = '1'
        WHERE id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>