<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aidex.shadd.saleproduct.mapper.TSaleProductMapper">

    <sql id="tSaleProductColumns">
        a.siteId as "siteid",

        a.productId as "productid",

        a.price as "price",

        a.remark as "remark",

        a.id as "id",

        a.create_by as "createBy",

        a.create_dept as "createDept",

        a.create_time as "createTime",

        a.update_by as "updateBy",

        a.update_time as "updateTime",

        a.update_ip as "updateIp",

        a.version as "version",

        a.del_flag as "delFlag"

    </sql>
    <sql id="innerJoinData">
        p.image as "image", f.name as "factoryName",
        pr.minerals as "minerals", pr.specification as "specification",
        concat(s.name, '(', s.code ,')') as "siteName",
    </sql>
    <sql id="tSaleProductJoins">
        inner join t_purchase p on p.id = a.productId
        inner join t_product pr on pr.id = p.productId
        inner join t_factory f on f.id = p.factoryId
        inner join t_site s on s.id = a.siteId
    </sql>


    <select id="queryGoods" resultType="TSaleProduct">
        SELECT
            <include refid="innerJoinData"/>
            a.id as "id", r.repertory repertoryNumber,
            a.price as "price",p.imageDetailList as "imageDetailList"
        FROM t_sale_product a
        <include refid="tSaleProductJoins"/>
        inner join T_REPERTORY r on r.spid = a.id
    </select>

    <select id="get" resultType="TSaleProduct">
        SELECT
            <include refid="tSaleProductColumns"/>
        FROM t_sale_product a
        <include refid="tSaleProductJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="TSaleProduct">
        SELECT
            <include refid="innerJoinData"></include>
            <include refid="tSaleProductColumns"/>
        FROM t_sale_product a
        <include refid="tSaleProductJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="siteid != null and siteid != ''">
                and a.siteId like concat('%', #{siteid}, '%')
            </if>
            <if test="productid != null and productid != ''">
                and a.productId like concat('%', #{productid}, '%')
            </if>
            <if test="price != null ">
                AND a.price = #{price}
            </if>
            <if test="startPrice != null ">
                AND a.price >= #{startPrice}
            </if>
            <if test="endPrice != null ">
                AND a.price &lt;= #{endPrice}
            </if>
            <if test="siteName != null and siteName != ''">
                and (s.name like concat('%', #{siteName}, '%') or
                     s.code like concat('%', #{siteName}, '%'))
            </if>
            <if test="factoryName != null and factoryName != ''">
                and f.name like concat('%', #{factoryName}, '%')
            </if>
            <if test="minerals != null and minerals != ''">
                and pr.minerals like concat('%', #{minerals}, '%')
            </if>
            <if test="specification != null and specification != ''">
                and pr.specification like concat('%', #{specification}, '%')
            </if>
        </where>
        <choose>
            <when test="page !=null and page.orderByColumn != null and page.orderByColumn != ''">
                ORDER BY ${page.orderByColumn}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="findListWithUnique" resultType="TSaleProduct">
        SELECT
            a.id
        FROM t_sale_product a
        <include refid="tSaleProductJoins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="notEqualId != null and notEqualId != ''">
                AND id != #{notEqualId}
            </if>
        </where>
    </select>


    <insert id="insert">
        INSERT INTO t_sale_product(
            siteId,

            productId,

            price,

            remark,

            id,

            create_by,

            create_dept,

            create_time,

            update_by,

            update_time,

            update_ip,

            version,

            del_flag

        ) VALUES (
            #{siteid},

            #{productid},

            #{price},

            #{remark},

            #{id},

            #{createBy},

            #{createDept},

            #{createTime},

            #{updateBy},

            #{updateTime},

            #{updateIp},

            #{version},

            #{delFlag}

        )
    </insert>

    <update id="update">
        UPDATE t_sale_product SET
            siteId = #{siteid},
            productId = #{productid},
            price = #{price},
            remark = #{remark},
            update_by = #{updateBy},
            update_time = #{updateTime},
            update_ip = #{updateIp},
            version = version + 1
        WHERE id = #{id} and version = #{version}
    </update>

    <update id="updateStatus">
        UPDATE t_sale_product SET
            status = #{status},
            version = version + 1
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE t_sale_product SET
            del_flag = #{DEL_FLAG_DELETE}
        WHERE id = #{id}
    </update>

    <delete id="deleteTSaleProductByIds">
        UPDATE t_sale_product SET
            del_flag = '1'
        WHERE id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>